<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
    crossorigin="anonymous">
    <script src="app.js"></script>
    <title>Attendance</title>
</head>
<body>
    <h1 class="text-center mt-4 text-info">勤怠打刻</h1>
    <div class="container mt-4">
        <span class="employee-name-box fw-bold">名前: <%= employee[0].name %></span>
        <br>
        <br>
        <br>
        <br>
        <div class="clockPlace ">
            <div id="digital-clock"></div>
            <script>
                const showClock=()=> {
                    let now = new Date();
                    let nowYear = now.getFullYear(); 
                    let nowMonth = now.getMonth() + 1; 
                    let nowDate = now.getDate();
                    let nowHours = now.getHours();
                    let nowMinutes = now.getMinutes();
                    let nowSecond = now.getSeconds();
                    
                    let dateTimeString = `${nowYear}年${nowMonth}月${nowDate}日 ${nowHours}時${nowMinutes}分${nowSecond}秒`;
                    
                    document.getElementById("digital-clock").innerHTML = dateTimeString;
                }
                showClock();
                setInterval(showClock, 1000);
            </script>
        </div>
       <br>


       <div class="center-buttons">
            <!-- 出勤 -->
            <form action="/check_in/<%= employee[0].id %>" method="post" id="checkInForm">
                <button class="btn btn-primary btn-large text-light fw-bold" type="submit">出勤</button>
            </form>

            <!--  打刻完了メッセージを表示するため-->
            <script>
                document.getElementById('checkInForm').addEventListener('submit', function (e) {
                e.preventDefault(); 
            
                let messageElement = document.getElementById('message');
                let currentTime = new Date();
                let hours = currentTime.getHours();
                let minutes = currentTime.getMinutes();
            
                messageElement.innerText = hours + "時" + minutes + "分に出勤しました";
                // これ消したらメッセージが表示されない
                messageElement.style.display = 'block';
            
                // フォームのデフォルトの動作を遅延させる
                setTimeout(function () {
                    document.getElementById('checkInForm').submit();
                }, 1000);
                });
            </script>

            <!-- 休憩開始 -->
            <form action="/break_start/<%= employee[0].id %>" method="post" id="breakStartForm">
                <button class="btn btn-primary btn-large text-light fw-bold" type="submit">休憩開始</button>
            </form>
            <!--  打刻完了メッセージを表示するため-->
            <script>
                document.getElementById('breakStartForm').addEventListener('submit', function (e) {
                e.preventDefault(); 
            
                let messageElement = document.getElementById('message');
                let currentTime = new Date();
                let hours = currentTime.getHours();
                let minutes = currentTime.getMinutes();
            
                messageElement.innerText = hours + "時" + minutes + "分に休憩開始しました";
                // これ消したらメッセージが表示されない
                messageElement.style.display = 'block';
            
                // フォームのデフォルトの動作を遅延させる
                setTimeout(function () {
                    document.getElementById('breakStartForm').submit();
                }, 1000);
                });
            </script>

           

            <!-- 休憩終了 -->
            <form action="/break_end/<%= employee[0].id %>" method="post" id="breakEndForm">
                <button class="btn btn-primary btn-large text-light fw-bold" type="submit">休憩終了</button>
            </form>
            <!--  打刻完了メッセージを表示するため-->
            <script>
                document.getElementById('breakEndForm').addEventListener('submit', function (e) {
                e.preventDefault(); 
            
                let messageElement = document.getElementById('message');
                let currentTime = new Date();
                let hours = currentTime.getHours();
                let minutes = currentTime.getMinutes();
            
                messageElement.innerText = hours + "時" + minutes + "分に休憩終了しました";
                // これ消したらメッセージが表示されない
                messageElement.style.display = 'block';
            
                // フォームのデフォルトの動作を遅延させる
                setTimeout(function () {
                    document.getElementById('breakEndForm').submit();
                }, 1000);
                });
            </script>


            <!-- 退勤 -->
            <form action="/check_out/<%= employee[0].id %>" method="post" id="checkOutForm">
                <button class="btn btn-primary btn-large text-light fw-bold" type="submit">退勤</button>
            </form>
            <!--  打刻完了メッセージを表示するため-->
            <script>
                document.getElementById('checkOutForm').addEventListener('submit', function (e) {
                e.preventDefault(); 
            
                let messageElement = document.getElementById('message');
                let currentTime = new Date();
                let hours = currentTime.getHours();
                let minutes = currentTime.getMinutes();
            
                messageElement.innerText = hours + "時" + minutes + "分に退勤しました";
                // これ消したらメッセージが表示されない
                messageElement.style.display = 'block';
            
                // フォームのデフォルトの動作を遅延させる
                setTimeout(function () {
                    document.getElementById('checkOutForm').submit();
                }, 1000);
                });
            </script>

        </div>
    </div>
    <br>
    <br>
    <!-- 打刻完了メッセージの場所 -->
    <div id="message" class="text-center h1 mt-4" style="display: none;"></div>
    <br>
    <br>
    <br>
    <div class="text-center">
        <a href="/" class="btn btn-secondary btn-lg mt-3 ">ホーム画面に戻る</a>
    </div>
</body>

<style>

.employee-name-box {
      padding: 10px; 
      border: 2px solid #007BFF; 
      border-radius: 10px; 
      background-color: #E1F0FF;
  }
.btn-large {
       padding: 20px 40px; 
       font-size: 24px; 
       margin-right: 20px;
        }

 .center-buttons {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 30vh; 
        }

 #digital-clock {
        font-size: 35px;
        font-weight: bold;
        width: 50%; 
        height: 60px;
        border: 5px solid ; 
        background-color:whitesmoke;
        display: flex;
        justify-content: center; 
        align-items: center; 
        border-radius: 5px;
        padding: 10px; 
    }

 .clockPlace {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh; 
    }

</style>



</html>
